:root{
    --principal-color: #5179F0;
    --sedundaty-color: #51ABF0;
     --button-color: #51F0CE;
     --letter-color-w: white;
     --letter-color-b: black;
   }
.about-card-content{
    width: 100%;
    height: 60vh;
    background-color: var(--letter-color-w);
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-card-content .card-content img{
    height: auto;
    width: 600px;
    max-width: 100%;
}
.about-card-content .card-content iframe{
    height: 600px;
    width: 600px;
    max-width: 100%;

}
.text-card{
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
}
.card-content {
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.text-card h1{
    color: black;
    font-size: 30px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.text-card p{
   font-size: 18px;
   line-height: 28px;
   letter-spacing: 1px;
   margin-bottom: 45px;
}
.btn-search{
    background-color: var(--sedundaty-color);/*color del boton*/
    color: var(--letter-color-w);
    border: 2px solid transparent;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 17px;
    font-weight: bold;
}
.btn-search:hover{
    transform: scale(1);
    background-color: transparent;
    border: 2px solid var(--sedundaty-color);
    color: var(--letter-color-b);
    transition: .4s;
    cursor: pointer;
}
@media screen and (max-width: 1180px){
    .about-card-content{
        width: 100%;
        height: auto;
        padding: 70px 0px;
    }
}
@media screen and (max-width: 650px){
    .about-card-content .card-content img{
        margin-bottom: 35px;
    }
    .text-card h1{
        font-size: 60px;
        margin-bottom: 25px;
    }
    .text-card p{
        font-size: 16px;
        margin-bottom: 25px;
    }
}