
.slider .slide p {
    z-index: 1; /* Asegura que el texto esté por encima del pseudo-elemento */
    color: black; /* Color del texto */
    text-align: center;
    margin: 0;
    padding: 10px; /* Espaciado interno para el texto */
}
.slider{
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
}
.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 16);
    overflow: hidden; 
}
.slider .slide{
    width: 200px;

}
.slider .slide img{
    width: 100%;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-200px * 8));
    }
}