:root{
  --principal-color: #5179F0;
  --sedundaty-color: #51ABF0;
   --button-color: #51F0CE;
   --letter-color-w: white;
   --letter-color-b: black;
 }
.modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  overflow: auto;
}

.modal-content {
  margin: 70px auto;
  padding: 20px;
  background: var(--letter-color-w);
  border-radius: 5px; /* Adjusted border-radius to make it more square */
  max-width: 70%; /* Changed from 30% to 70% for a larger modal */
  position: relative;
  z-index: 1000003;
}

.modal-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  color: var(--letter-color-b);
  text-decoration: none;
}

.modal-content .close:hover {
  color: var(--letter-color-w);
}

.modal-content .content h2 {
  margin-top: 0;
  color: var(--letter-color-b);
}

@media screen and (max-width: 700px) {
  .modal-content {
      max-width: 90%; /* Changed from 70% to 90% for a larger modal on smaller screens */
  }
}