.modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  overflow: auto;
}

.modal-content {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px; /* Adjusted border-radius to make it more square */
  max-width: 70%; /* Changed from 30% to 70% for a larger modal */
  position: relative;
}

.modal-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.modal-content .close:hover {
  color: #06D85F;
}

.modal-content .content h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

@media screen and (max-width: 700px) {
  .modal-content {
      max-width: 90%; /* Changed from 70% to 90% for a larger modal on smaller screens */
  }
}