:root{
  --principal-color: #5179F0;
  --sedundaty-color: #51ABF0;
   --button-color: #51F0CE;
   --letter-color-w: white;
   --letter-color-b: black;
 }
.content-form-register{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: var(--letter-color-w);
  background-size: cover;
  background-position: center;
  padding: 30px;
}
.main-form-register{
  background: var(--principal-color) ;
  width: 100%;
  max-width: 800px;
  padding: 30px 40px;
  border-radius: 1rem;
}
.tittle-form-register{
  position: relative;
  font-size: 30px;
  font-weight: 700;
  color: var(--letter-color-w);
  margin-bottom: 10px;
}
.tittle-form-register::before{
  position:absolute;
  content: '';
  left: 0;
  bottom: -8px;
  height: 3px;
  width: 60px;
  background: var(--sedundaty-color);
}


/* Adjusted selector */
.content-form-register .main-box-register{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0 8px 0;
}
.form_register .main-box-register .input-box {
  width: calc(100% / 2 - 15px);
  margin: 15px 0;
}
.main-form-register .main-box-register .input-box input {
  width: 100%;
  height: 50px;
  background: var(--letter-color-w);
  color: var(--letter-color-b);
  outline: none;
  border: 1px solid var(--sedundaty-color);
  padding-left: 17px;
  font-size: 1rem;
  transition: all .40s ease;
 
}
.form_register .main-box-register .text {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: var(--letter-color-w);
  font-weight: 500;
}
.main-form-register .main-box-register .input-box input:focus,
.main-form-register .main-box-register .input-box input:valid{
  border-color:#378463;
}
.form_register .btn-form-register{
  height: 50px;
  margin: 20px 0;
}
.form_register .btn-form-register input{
 height: 100%;
 width: 100%;
 outline: none;
 background:var(--sedundaty-color);
 color: var(--letter-color-w);
 border-radius: 8px;
 border: none;
 font-size: 20px;
 font-weight: 500;
 cursor: pointer;
 transition: all .40s ease;
}
.form_register .btn-form-register input:hover{
  background: #ff328e;
}
@media (max-width: 640px) {
  .main-form-register{
      max-width: 100%;
  }
  .main-form-register .main-box-register .input-box{
      width: 100%;
      margin: 5px 0;
  }
  .main-form-register .main-box-register{
      max-height: 430px;
      overflow: scroll;
  }
  
}
